.tables {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.table-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-size: 1rem;
}

.entity-table {
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    width: 35%;
    margin-right: 10px;
}

.middle {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.middleHeader {
    text-orientation:sideways-right;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

#mHeader {
    margin-left: 5px;
    margin-right: -100px;
}

.diagram {
    align-self: center;
    height: 400px;
    width: 72%;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: center;
}

.relationship-table{
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    width: 35%;
    margin-left: 10px;
}

.table-title {
    font-size: 40pt;
}

.entity-add {
    border-style: none;
    background-color: transparent;
}

.entity-add :hover {
    background-color: grey;
}

.btn.btn-outline-secondary {
    border-style:none;
}

#entityButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6px;
    padding-right: 6px;
    height: 24px;
    width: 24px;
    right: 10px;
    border-style: solid;
}

#relationshipButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6px;
    padding-right: 6px;
    height: 24px;
    width: 24px;
    right: 10px;
    border-style: solid;
}

.footer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.relationship_dropdown {
    margin-left: 0.15%;
}

.rel-first-entity-attribute {
    margin-top:1.5%;
}

.rel-second-entity-attribute {
    margin-top:1.5%;
    margin-left:16.8%;
}

.rel-attribute-data-type-right {
    margin-top:1.5%;
    margin-left:34%;
}

.rel-attribute-data-type-left {
    margin-top:1.5%;
}

